.statistics {
  margin-left: 100px;
}

.stats {
  width: 100px;
  margin-top: 8px;
  position: relative;
  left: calc(50% - 50px);
  text-align: center;
}

.active {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}
