:root {
  --length: 70%;
  --square-size: 100px;
}

ol {
  list-style: none;
  padding-inline-start: 0;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #809f39;
  text-align: center;
  transition: all 0.2s;
  border-color: transparent;
}

button:hover {
  /* background-color: #4095c6; */
  filter: brightness(1.2);
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.2em auto;
  }
}

.square {
  background: gray;
  height: var(--square-size);
  width: var(--square-size);
  padding: 0;
  text-align: center;
  border: 3px solid #808080;
  background-color: #f5f6f6;
  text-emphasis: center;
  vertical-align: middle;
  line-height: var(--square-size);
  font-weight: bold;
  font-size: 40px;
}

.winningSquare {
  background-color: #a9c3ba;
}

.row {
  display: flex;
}

.btnCountainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
